# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
    'atom-text-editor': [
        {
            'label': 'Exec in cmd: exec'
            'command': 'Exec-in-cmd:exec'
        }
    ]

    '.tree-view .full-menu': [
        {
            'label': 'Exec in cmd: open_cmd'
            'command': 'Exec-in-cmd:open_cmd'
        }
    ]
