'atom-text-editor':
    'f12': 'Exec-in-cmd:exec'
    'shift-f12': 'Exec-in-cmd:advance'
    'shift-ctrl-f12': 'Exec-in-cmd:open_cmd'
    'ctrl-f12': 'Exec-in-cmd:init'

'.tree-view':
    'shift-ctrl-f12': 'Exec-in-cmd:open_cmd'
